
  <div class="main-answer">
  {{input class="input-one" size=1 maxlength=1 value=let1}}
  {{input class="input-one" size=1 maxlength=1 value=let2}}
  {{input class="input-one" size=1 maxlength=1 value=let3}}
  {{input class="input-one" size=1 maxlength=1 value=let4}}
  {{input class="input-one" size=1 maxlength=1 value=let5}}
  {{input class="input-one" size=1 maxlength=1 value=let6}}
  -
  {{input class="input-one" size=1 maxlength=1 value=let7}}
  {{input class="input-one" size=1 maxlength=1 value=let8}}
  -
  {{input class="input-one" size=1 maxlength=1 value=let9}}
  {{input class="input-one" size=1 maxlength=1 value=let10}}
  {{input class="input-one" size=1 maxlength=1 value=let11}}
  {{input class="input-one" size=1 maxlength=1 value=let12}}
  </div>

  {{#if (eq wronganswer true)}}
    <div>Feil svar! Prøv igjen din knott!</div>
  {{/if}}
  
  <button {{action "mainSolutionCheck"}}>Tror du at du har riktig løsning? Klikk her!</button>
