{{#if isBeforeGametime}}
  <div>Velkommen, Hilde! Tid til neste hint blir tilgjengelig:</div>
  <div class="count-down">{{count-down actionHour=11 action="beginHunt"}}</div>

{{else}}
  {{#if (eq currentQuestion 0)}}
    <div>Er du klar for noen spørsmål, Hilde?</div>
    <button {{action 'GotoQ1'}}>Gå til første spørsmål</button>

  {{else if (eq currentQuestion 1)}}
    <div class="question">Hvilket fjell var Norges høyeste før Galdhøpiggen ble oppdaget?</div>
    <div class="answer">{{#radio-button value=1 groupValue=fjell changed="fjellSelected"}} Store Skagastølstind {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=2 groupValue=fjell changed="fjellSelected"}} Galdhøpiggen {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=3 groupValue=fjell changed="fjellelected"}} Glittertind {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=4 groupValue=fjell changed="fjellSelected"}} Mount Everest {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=5 groupValue=fjell changed="fjellSelected"}} Tjønnholstinden {{/radio-button}}</div>
    <button {{action 'GotoQ2'}}>Gå til neste spørsmål!</button>

  {{else if (eq currentQuestion 2)}}
    <div class="question">Hva er vrangbord?</div>
    <div class="answer">{{#radio-button value=1 groupValue=knitting changed="knittingAnswer"}} En bord som er strikket feil {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=2 groupValue=knitting changed="knittingAnswer"}} En bord som består av rette og vrange masker {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=3 groupValue=knitting changed="knittingAnswer"}} En bord som består kun av vrange masker {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=4 groupValue=knitting changed="knittingAnswer"}} En bord som består kun av rette masker {{/radio-button}}</div>
    <img class="question-image" src="images/strikking.jpg" />
    <button {{action 'GotoQ3'}}>Gå til neste spørsmål!</button>

  {{else if (eq currentQuestion 3)}}
    <div class="question">Hvilke smøring fungerer best på nysnø og 2 grader pluss?</div>
    <div class="answer">{{#radio-button value=1 groupValue=ski changed="skiAnswer"}} Swix Blå {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=2 groupValue=ski changed="skiAnswer"}} Swix Rød {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=3 groupValue=ski changed="skiAnswer"}} Swix Lilla {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=4 groupValue=ski changed="skiAnswer"}} Swix Grønn {{/radio-button}}</div>
    <button {{action 'GotoQ4'}}>Gå til neste spørsmål!</button>

  {{else if (eq currentQuestion 4)}}
    <div class="question">Russeren Fabergé laget verdens vakreste påskeegg. Hva laget han dem av?</div>
    <div class="answer">{{#radio-button value=1 groupValue=egg changed="eggAnswer"}} Strutseegg {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=2 groupValue=egg changed="eggAnswer"}} Stein {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=3 groupValue=egg changed="eggAnswer"}} Hønseegg {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=4 groupValue=egg changed="eggAnswer"}} Tre {{/radio-button}}</div>
    <div class="answer">{{#radio-button value=5 groupValue=egg changed="eggAnswer"}} Edle metaller og edelstener  {{/radio-button}}</div>
    <button {{action 'GotoQ5'}}>Gå til neste spørsmål!</button>

  {{else if (eq currentQuestion 5)}}
    {{#if allAnswersCorrect}}
      <div class="question">Jippi! Du svarte alt rett! Dine bokstaver er <b>NRK</b>.</div>
      <div>Slå de sammen med bokstavene til de andre, så kanskje dere kommer videre!</div>
      {{main-answer}}
    {{else}}
      <div>Ånei! Du hadde noen svar feil!</div>
      <button {{action 'GotoQ1'}}>Prøv på nytt!</button>
    {{/if}}
  {{/if}}
{{/if}}
